.card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  transition: all 0.3s;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.1);
}
.card:hover {
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.2);
}
.card .head {
  display: flex;
  justify-content: space-between;
}
.card .head .title {
  display: flex;
  font-size: 20px;
  align-items: center;
}
.card .head .title > p {
  padding-left: 10px;
}
.card .body {
  padding-top: 15px;
}

.card-tag-cloud .body a {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  transition: color 0.2s;
}
.card-tag-cloud .body a:hover {
  color: #5da8c5;
}

.card-category-cloud .body li a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0;
  transition: background-color 0.3s, padding 0.3s;
}
.card-category-cloud .body li a:hover {
  padding: 5px 15px;
  background-color: var(--navbar-bg);
  color: white;
}

.article {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 225px;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px 50px 50px 8px;
  margin-bottom: 15px;
  transition: all 0.3s;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.1);
}
.article:hover {
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.2);
}
.article .article-img {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.article .article-img img {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  object-fit: cover;
}
.article .article-img img:hover {
  transform: scale(1.1);
}
.article .article-info {
  display: flex;
  width: 60%;
  height: 100%;
  padding: 0 25px;
  flex-direction: column;
  justify-content: center;
}
.article .article-info > div {
  padding: 5px 0;
}
.article .article-info .article-title {
  font-size: 26px;
}
.article .article-info .article-title a {
  transition: all 0.4s;
}
.article .article-info .article-title a:hover {
  color: #2498ab;
}
.article .article-info .article-meta-info {
  display: flex;
  align-items: baseline;
  color: #858585;
}
.article .article-info .article-meta-info i {
  padding-right: 5px;
}
.article .article-info .article-meta-info .separater {
  padding: 0 5px;
}
.article .article-info .article-description p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow {
  transition: all 0.3s;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.1);
}
.shadow:hover {
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.2);
}

.scale-img {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  object-fit: cover;
}
.scale-img:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination .step-links a, .pagination .step-links span {
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 7px;
  margin: 0 4px;
}
.pagination .step-links a {
  background-color: #fff;
  transition: all 0.2s;
}
.pagination .step-links a:hover {
  background-color: #9a619a;
  color: white;
}
.pagination .step-links .current {
  background-color: #5da8c5;
  color: white;
}

#app header .navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  color: var(--white);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
}
#app header .navbar .left {
  font-size: 24px;
}
#app header .navbar .right {
  display: flex;
}
#app header .navbar .right .menu-item {
  position: relative;
  margin-left: 20px;
  transition: all 0.5s;
}
#app header .navbar .right .menu-item:hover .expand {
  transform: rotateZ(180deg);
}
#app header .navbar .right .menu-item:hover .menus-item-child {
  display: flex;
}
#app header .navbar .right .menu-item > a {
  transition: all 0.3s;
}
#app header .navbar .right .menu-item > a:hover {
  color: #2498ab;
}
#app header .navbar .right .menu-item .menus-item-child {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 130%;
  left: 0;
  right: 0;
  background-color: #3c627a;
  box-shadow: 0 5px 20px -4px rgba(0, 0, 0, 0.5);
}
#app header .navbar .right .menu-item .menus-item-child::before {
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
}
#app header .navbar .right .menu-item .menus-item-child li {
  padding: 10px 0;
  transition: all 0.2s;
}
#app header .navbar .right .menu-item .menus-item-child li:hover {
  color: #5daf34;
}
#app header .navbar .right li {
  list-style: none;
}
#app main {
  margin: 80px auto 40px;
  width: 1200px;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
}
#app main .left {
  width: 30%;
}
#app main .left .sticky-part {
  top: 80px;
  position: sticky;
}
#app main .left #article-toc li {
  list-style: none;
}
#app main .left #article-toc a {
  color: #5da8c5;
  font-size: 18px;
  transition: all 0.5s;
  display: block;
  width: 100%;
  line-height: 1.5;
}
#app main .left #article-toc a:hover {
  color: white;
  background: #2fa6de;
}
#app main .left #article-toc div > ul {
  padding: 0 10px;
}
#app main .left #article-toc div > ul > li ul {
  padding: 0 15px;
}
#app main .right {
  width: 68%;
  background-color: transparent;
}
#app main .right > .article-main {
  background-color: #fff;
  padding: 20px;
}
#app main .right > .article-main .article-info {
  margin-bottom: 30px;
  border-bottom: 2px #ddd solid;
}
#app main .right > .article-main .article-info .article-title {
  font-size: 35px;
  color: #2498ab;
  font-weight: bolder;
}
#app main .right > .article-main .article-info .article-detail {
  padding: 10px 0;
  display: flex;
}
#app main .right > .article-main .article-info .article-detail .separater {
  padding: 0 5px;
}
#app main .right #article-content {
  background-color: inherit;
  padding: 0;
}
#app main .whole {
  border-radius: 7px;
  background-color: #fff;
  padding: 40px;
}
#app footer {
  background: #3d5362;
  color: var(--white);
}
#app footer .footer-info {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app footer .footer-info > p {
  padding: 10px 0;
}

.archive {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 15px;
  min-height: 80vh;
}
.archive .total {
  margin-bottom: 20px;
}
.archive .lists {
  position: relative;
  font-size: 20px;
}
.archive .lists .lists-line {
  position: absolute;
  width: 2px;
  top: 0.25em;
  left: 6px;
  bottom: 0.25em;
  background-color: #4b6e97;
}
.archive .lists .list {
  position: relative;
  margin-bottom: 15px;
  padding-left: 50px;
}
.archive .lists .list::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #fff;
  border: 3px cadetblue solid;
}
.archive .lists .list .title {
  padding-left: 30px;
}

/*# sourceMappingURL=main.css.map */
