/* 自定义文章内容样式 */

:root {
	--ml: 30px;
	--mr: 30px;
	--keyword: #dd0000;
}

[article=true] * {
	font-family: "calibri", "宋体", serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

[article=true] h1,
[article=true] h2,
[article=true] h3 {
	font-family: "宋体";
	transition: all .5s;
}

[article=true] h1 {
	font-size: 1.6em;
	margin: 30px var(--mr) 20px var(--ml);
	border-bottom: 5px solid #f00;
}

[article=true] h2 {
	font-size: 1.4em;
	margin: 40px var(--mr) 15px var(--ml);
	border-left: 5px solid #4ade00;
	padding-left: 10px;
}

[article=true] h3 {
	font-size: 1.1em;
	margin: 30px var(--mr) 15px var(--ml);
	border-left: 5px solid #FFBc41;
	padding-left: 10px;
}

[article=true] h4 {
	font-size: 1em;
	margin: 20px var(--mr) 10px var(--ml);
	border-left: 5px solid #FFBc41;
	padding-left: 10px;
}

[article=true] p {
	font-size: 0.9em;
	position: relative;
	margin: 10px var(--mr) 10px var(--ml);
}

[article=true] hr {
	margin: 10px var(--mr) 10px var(--ml);
}

[article=true] h1:hover,
[article=true] h2:hover,
[article=true] h3:hover {
	padding-left: 20px;
}

[article=true] .codehilite {
	border-radius: 20px 20px 0 0;
	overflow: hidden;
	position: relative;
	padding-top: 30px;
	margin: 20px var(--mr) 20px var(--ml);
}

[article=true] .codehilite pre {
	line-height: 1.2;
	font-size: .8em;
	padding: 15px 30px;
}

[article=true] p>code {
	color: var(--keyword);
	font-size: 20px;
	font-weight: 600;
}

[article=true] img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	border: 5px #ababab solid;
}

[article=true] blockquote {
	margin: 5px var(--mr) 10px var(--ml);
	padding: 0.1rem 0.8rem;
	border-left: 0.2rem solid #49b1f5;
	background-color: rgba(73, 177, 245, 0.1);
}

[article=true] blockquote p {
	margin-left: 0px;
	margin-right: 0px;
}

[article=true] .codehilite::before {
	position: absolute;
	top: 10px;
	z-index: 3;
	left: 20px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #fc625d;
	box-shadow: 30px 0 #fdbc40, 60px 0 #35cd4b;
	content: '';
}

[article=true] .codehilite::after {
	z-index: 2;
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	background: #bfbfbf;
}

[article=true] a {
	color: inherit;
	text-decoration: underline;
}

[article=true] table {
	font-size: .8em;
	margin: 20px var(--mr) 10px var(--ml);
	border-spacing: 1px;
	/* border-collapse: collapse; */
}

[article=true] th {
	padding: 10px 20px;
	background: #65d565;
}

[article=true] tr:nth-child(odd) td {
	padding: 10px 20px;
	background: #56b2bc;
}

[article=true] tr:nth-child(even) td {
	padding: 10px 20px;
	background: #4a9ba1;
}

[article=true] ul,
[article=true] ol {
	font-size: .8em;
	margin: 10px var(--mr) 10px calc(var(--ml) * 1.5);
}
