{% extends 'base.html' %}
{% load my_tags %}
{% block title %}归档{% endblock %}
{% block top-imports %}

{% endblock %}
{% block main %}
    <main>
        <div class="left">
            <div class="card">
                <div class="head">
                    <div class="title">
                        <i class="fa-fw fas fa-id-card"></i>
                        <p>站长信息</p>
                    </div>
                </div>
                <div class="body">
                    <p>一个高中生</p>
                </div>
            </div>
            <div class="card">
                <div class="head">
                    <div class="title">
                        <i class="fa-fw fas fa-bullhorn"></i>
                        <p>公告</p>
                    </div>
                </div>
                <div class="body">
                    <p>未想好公告，祝看到此博客的人开心吧</p>
                </div>
            </div>
            {% tag_cloud %}
            {% category_cloud %}
            <div class="card">
                <div class="head">
                    <div class="title">
                        <i class="fa-fw fas fa-folder-open"></i>
                        <p>网站信息</p>
                    </div>
                </div>
                <div class="body">
                    <p>文章共计X篇</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="archive shadow">
                <div class="total"><h2>文章总数 — {{ article_count }}</h2></div>
                <div class="lists">
                    <div class="lists-line"></div>
                    {% for article in articles %}
                        <div class="list">
                            <span>{{ article.created|date:"Y-m-d" }}</span>
                            <a class="title" href="{% url 'article:arti_detail' article.id %}">{{ article.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if articles.has_previous %}
                        <a href="?page=1">&laquo; 1</a>
                        <span>...</span>
                        <a href="?page={{ articles.previous_page_number }}">{{ articles.previous_page_number }}</a>
                    {% endif %}
                    <span class="current">
                        {{ articles.number }}
                    </span>
                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}">{{ articles.next_page_number }}</a>
                        <span>...</span>
                        <a href="?page={{ articles.paginator.num_pages }}">{{ articles.paginator.num_pages }} &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </main>
{% endblock %}
{% block bottom-imports %}

{% endblock %}