<header class="web-header">
    <nav class="navbar">
        <div class="left">
            <a class="nav-title" href="{% url 'article:index' %}">吾水记</a>
        </div>
        <div class="right">
            <div class="menu-item">
                <a href="{% url 'article:index' %}">
                    <i class="fa-fw fas fa-home"></i>
                    <span>主页</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    <i class="fa-fw fas fa-archive"></i>
                    <span>归档</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    <i class="fa-fw fas fa-tags"></i>
                    <span>标签</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    <i class="fa-fw fas fa-folder-open"></i>
                    <span>分类</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    <i class="fa-fw fas fa-link"></i>
                    <span>友链</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    <i class="fa-fw fas fa-heart"></i>
                    <span>关于</span>
                </a>
            </div>
        </div>
    </nav>
</header>