{% load static %}
<div class="article-post">
    <div class="article-cover">
        <a href="{% url 'blog:detail' article.pk %}" title="{{ article.title | default:"默认的文章标题" }}">
            <img src="{{ article.cover.cover.url | default:"/static/blog/img/fillin.png" }}"
                 alt="{{ article.title | default:"默认的文章标题" }}">
        </a>
    </div>
    <div class="article-info">
        <a class="article-title" href="{% url 'blog:detail' article.pk %}"
           title="{{ article.title | default:"默认的文章标题" }}">{{ article.title | default:"默认的文章标题" }}</a>
        <div class="article-meta-wrap">
        <span>
            <i class="far fa-calendar-alt"></i>
            <span>发表于</span>
            <time title="发表于 {{ article.pub_date | date:"Y-m-d" | default:"2021-01-08" }}">{{ article.pub_date | date:"Y-m-d" | default:"2021-01-08" }}</time>
        </span>
            <span>
            <span>|</span>
            <i class="fas fa-inbox"></i>
            <a href="#">{{ article.category | default:"默认分类" }}</a>
        </span>
        </div>
        <div class="article-desc">{{ article.desc | default:"默认的文章描述" }}</div>
    </div>
</div>