{% load static %}
<div class="aside-recent-post aside-widgets">
    <div class="head">
        <i class="fas fa-history"></i>
        <span>最新文章</span>
    </div>
    <div class="aside-recent-post-items">
        {% if recent_articles %}
            {% for article in recent_articles %}
                <div class="aside-recent-post-item">
                    <a href="{% url 'blog:detail' article.pk %}" title="{{ article.title }}">
                        <img src="{{ article.cover.cover.url }}" alt="{{ article.title }}">
                    </a>
                    <div class="aside-recent-post-item-content">
                        <a href="{% url 'blog:detail' article.pk %}"
                           title="{{ article.title }}">{{ article.title }}</a>
                        <time title="发表于 {{ article.pub_date | date:"Y-m-d" }}">{{ article.pub_date | date:"Y-m-d" }}</time>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for x in '12345' %}
                <div class="aside-recent-post-item">
                    <a href="#" title="示例">
                        <img src="{% static 'blog/img/fillin.png' %}" alt="示例">
                    </a>
                    <div class="aside-recent-post-item-content">
                        <a href="#"
                           title="示例">示例</a>
                        <time title="发表于 2021-01-01">2021-01-01</time>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>